*{
    margin: 0;
    padding: 0;
 } 
 .nav{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    height: 10vh;
    width: 100%;
    background-color: #e2ded4;
    /* position: fixed;  */
    box-shadow: brown;
    gap: 25px;
}
.logo{
    height:30px;
    width:30px;
    border:1px transparent;
    border-radius: 50%;
    background-color:black;
    overflow: hidden;
}
.logo img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}